<head>
    <f:section name="stylesheets">
        <!-- CSS fullcalendar -->
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/fullcalendar.css', package: 'MapSeven.Calendar')}">
    </f:section>
</head>
<body>
<f:section name="bodyScripts">
    <!-- JS calendar -->
    <script src="{f:uri.resource(path: 'Scripts/moment.js', package: 'MapSeven.Calendar')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/fullcalendar.min.js', package: 'MapSeven.Calendar')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/lang-all.js', package: 'MapSeven.Calendar')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/gcal.js', package: 'MapSeven.Calendar')}"></script>
</f:section>
</body>